---
import Capsule from '@/components/home/Capsule.astro';
import BlogDetailLayout from '@/layouts/BlogDetailLayout.astro';
import { type CollectionEntry, getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
const { tags } = post.data;

const allBlogs = await getCollection('blog');

const relatedBlogs = allBlogs
  .filter((blog) => blog.id !== post.id)
  .filter((blog) => blog.data.tags?.some((tag) => tags?.includes(tag)))
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
  .slice(0, 2);
---

<BlogDetailLayout {...post.data}>
  <article class="py-8 max-w-3xl mx-auto">
    <!-- 🔑 MARKDOWN STYLED HERE -->
    <div class="prose text-muted-foreground font-light">
      <Content />
    </div>

    <!-- footer section 1st tags and then related blogs two -->
    <footer class="max-w-2xl mx-auto mt-10">
      <div class="border-t pt-8">
        <h3
          class="text-xs mb-4 font-mono text-muted-foreground text-start w-full"
        >
          Tags
        </h3>
        <div class="flex flex-wrap gap-2">
          {tags?.map((tag) => <Capsule>{tag}</Capsule>)}
        </div>
      </div>
      <!-- related blogs -->
      <div class="border-t pt-8 mt-8">
        <h3
          class="text-xs mb-4 font-mono text-muted-foreground text-start w-full"
        >
          More Articles
        </h3>
        <div class="grid grid-cols-2 gap-4">
          {
            relatedBlogs?.slice(0, 2)?.map((post) => (
              <a href={`/blog/${post.id}`} class="w-full border">
                <div class=" p-4 ">
                  <h4 class="text-sm font-medium mb-2">{post.data.title}</h4>
                  <p class="text-xs font-mono text-muted-foreground">
                    {post.data.readTime} read
                  </p>
                </div>
              </a>
            ))
          }
        </div>
      </div>
    </footer>

    <script is:inline>
      document.querySelectorAll('.prose pre').forEach((pre) => {
        if (pre.querySelector('[data-copy]')) return;

        const btn = document.createElement('button');
        btn.textContent = 'Copy';
        btn.setAttribute('data-copy', '');
        pre.appendChild(btn);
      });
      document.addEventListener('click', (e) => {
        const btn = e.target.closest('[data-copy]');
        if (!btn) return;

        const pre = btn.closest('pre');
        const code = pre?.querySelector('code')?.innerText;

        if (!code) return;

        navigator.clipboard.writeText(code);
        btn.innerText = 'Copied';

        setTimeout(() => (btn.innerText = 'Copy'), 1200);
      });
    </script>
  </article>
</BlogDetailLayout>
