---
import BlogRow from '@/components/blog/BlogRow.astro';
import BlogLayout from '@/layouts/BlogLayout.astro';
import { getCollection } from 'astro:content';

const blogs = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
console.log('all blogs:', blogs);

// const posts = (await getCollection('blog')).sort(
//   (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
// );
---

<BlogLayout>
  <main class="">
    <section class="max-w-3xl mx-auto">
      <ul class="">
        {blogs.map((post) => <BlogRow id={post.id} data={post.data} />)}
      </ul>
    </section>
  </main>
</BlogLayout>
