---
import Hero from '@/components/Hero.astro';
import WorkExperience from '@/components/WorkExperience.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import FeaturedProjects from '@/components/FeaturedProjects.astro';
import FeaturedThoughts from '@/components/FeaturedThoughts.astro';
import ContactDetail from '@/components/ContactDetail.astro';
import Tooltip from '@/components/home/Tooltip.astro';
---

<BaseLayout>
  <main class="px-4 sm:px-6">
    <!-- Dot Navigation -->
    <div
      id="dot-nav"
      class="fixed left-8 top-1/2 -translate-y-1/2 z-50 hidden lg:flex flex-col gap-4"
    >
      <Tooltip label="Intro" dataSection="0" />
      <Tooltip label="Works" dataSection="1" />
      <Tooltip label="Projects" dataSection="2" />
      <Tooltip label="Blogs" dataSection="3" />
      <Tooltip label="Contacts" dataSection="4" />
    </div>
    <section id="section-0" class="">
      <Hero />
    </section>
    <section id="section-1" class="">
      <WorkExperience />
    </section>
    <section id="section-2" class="">
      <FeaturedProjects />
    </section>
    <section id="section-3" class="mt-20 lg:mt-0">
      <FeaturedThoughts />
    </section>
    <section id="section-4" class="mt-20 lg:mt-0">
      <ContactDetail />
    </section>
  </main>

  <script is:inline>
    const sections = document.querySelectorAll('section[id^="section-"]');
    const dots = document.querySelectorAll('.nav-dot');
    console.log('sections', sections);

    function updateActiveDot() {
      //1st i need mouse scroll position
      const mouseScrollPosition = window.scrollY + window.innerHeight / 2;
      console.log('mouseScrollPosition', mouseScrollPosition);

      sections.forEach((section, index) => {
        const sectionTop = section.offsetTop;
        const sectionHeight = section.offsetHeight; //yo chahi section ko height ho
        console.log('offsetheight', sectionHeight);
        // 0 sectionTop ko case ma
        // 1 sectionTop ko case ma  -> 0 section of dot in white xa to solved
        // 2 sectionTop ko case ma

        if (
          mouseScrollPosition > sectionTop &&
          mouseScrollPosition < sectionHeight + sectionTop
        ) {
          dots[index].classList.add('bg-foreground', 'scale-125');
          dots[index].classList.remove('bg-muted-foreground/50');
        } else {
          dots[index].classList.remove('bg-foreground', 'scale-125');
          dots[index].classList.add('bg-muted-foreground/50');
        }
      });
    }
    // function updateActiveDot() {
    //   const scrollPosition = window.scrollY + window.innerHeight / 2;

    //   sections.forEach((section, index) => {
    //     const sectionTop = section.offsetTop;
    //     const sectionHeight = section.offsetHeight;

    //     console.log('sectionTop', sectionTop, sectionHeight);
    //     console.log('scrollPosition-------------', scrollPosition);
    //     if (
    //       scrollPosition >= sectionTop &&
    //       scrollPosition < sectionTop + sectionHeight
    //     ) {
    //       // Update dots
    //       dots.forEach((dot, dotIndex) => {
    //         if (dotIndex === index) {
    //           console.log('oka');
    //           dot.classList.add('bg-white', 'scale-125');
    //           dot.classList.remove('bg-gray-600');
    //         } else {
    //           dot.classList.remove('bg-white', 'scale-125');
    //           dot.classList.add('bg-gray-600');
    //         }
    //       });
    //     }
    //   });
    // }

    function scrollToSection(index) {
      sections[index]?.scrollIntoView({ behavior: 'smooth' });
    }

    dots.forEach((dot) => {
      dot.addEventListener('click', () => {
        const sectionIndex = Number(dot.dataset.section);
        scrollToSection(sectionIndex);
      });
    });

    window.addEventListener('scroll', updateActiveDot);
    updateActiveDot();
  </script>
</BaseLayout>
