---
import ProjectDetailLayout from '@/layouts/ProjectDetailLayout.astro';
import { type CollectionEntry, getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('projects');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
---

<ProjectDetailLayout {...post.data}>
  <article class="py-8 max-w-3xl mx-auto">
    <!-- 🔑 MARKDOWN STYLED HERE -->
    <div class="prose text-muted-foreground font-light">
      <Content />
    </div>

    <script is:inline>
      document.querySelectorAll('.prose pre').forEach((pre) => {
        if (pre.querySelector('[data-copy]')) return;

        const btn = document.createElement('button');
        btn.textContent = 'Copy';
        btn.setAttribute('data-copy', '');
        pre.appendChild(btn);
      });
      document.addEventListener('click', (e) => {
        const btn = e.target.closest('[data-copy]');
        if (!btn) return;

        const pre = btn.closest('pre');
        const code = pre?.querySelector('code')?.innerText;

        if (!code) return;

        navigator.clipboard.writeText(code);
        btn.innerText = 'Copied';

        setTimeout(() => (btn.innerText = 'Copy'), 1200);
      });
    </script>
  </article>
</ProjectDetailLayout>
