name: Milan praz portfolio website

on:
  push:
    branches: ['main']
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@4

      - name: Setup Nodejs environment
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install pnpm
        uses: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install
      - name: Build Project
        run: pnpm build
